@import url('./assets/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--main-color:1,171,193;
		--color-primary: 1,171,193;
		--color-secondary: 111 114 185;

		--blue-color:rgba(1,171,193)
	}
}

:root {
	line-height: 1.5;
	font-weight: 400;
}

body {
}
